
.gradle/4.8.1/fileChanges/last-build.bin
.gradle/4.8.1/fileHashes/fileHashes.bin
.gradle/4.8.1/fileHashes/fileHashes.lock
.gradle/4.8.1/taskHistory/taskHistory.bin
.gradle/4.8.1/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcsWorkingDirs/gc.properties
.idea/workspace.xml
.idea/vcs.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/gradle.xml
.idea/$CACHE_FILE$
.idea/vcs.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/gradle.xml
.idea/$CACHE_FILE$
.idea/vcs.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/gradle.xml
.idea/$CACHE_FILE$
.idea/misc.xml
